.like
	cursor pointer
	
	&__heart
		&_active
			display none
		
	&:hover &__heart,
	&_active &__heart
		display none
			
	&:hover &__heart_active,
	&_active &__heart_active
		display block
		

	// &__heart
	// 	&_type
	// 		&_no-active
	// 			display block
	// 		&_active
	// 			display none
	
	// &__like:hover &__heart_type_no-active,
	// &__like_active &__heart_type_no-active
	// 	display none
	
	// &__like:hover &__heart_type_active,
	// &__like_active &__heart_type_active
	// 	display block