
.aside__item: .aside-filter
	.aside-filter-group
		.aside-filter-group__title.aside-filter-group__title_arrow(data-toggle="collapse", data-target="#aside-filter-1")
			| Цена
		.aside-filter-group__body.range__parent.collapsed.in#aside-filter-1
			.aside-filter-group__range-fields
				input.aside-filter-group__range-field.range__from(type="number", value="2500")
				|  Р — 
				input.aside-filter-group__range-field.range__to(type="number",value="7500")
				|  Р 
			.aside-filter-group__range
				input.range(type="text", data-min="1190", data-max="11600", data-from="2500", data-to="7500")
	.aside-filter-group
		.aside-filter-group__title.aside-filter-group__title_arrow(data-toggle="collapse", data-target="#aside-filter-2")
			| производитель
		.aside-filter-group__body.collapsed.in#aside-filter-2
			.aside-filter-group__checkboxs
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| PROvision
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| Alert
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| Maxi-Cam 
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| ActiveCam
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| MicroDigital
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| EverFocus 
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| Infinity
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| Dahua Technology
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| HiWatch 
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| Honeywell
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| Panasonic 
				.collapse#filter-more-1
					label.aside-filter-group__checkbox
						input.checkbox(type="checkbox")
						.label.aside-filter-group__checkbox-text
							| HiWatch 
					label.aside-filter-group__checkbox
						input.checkbox(type="checkbox")
						.label.aside-filter-group__checkbox-text
							| Honeywell
					label.aside-filter-group__checkbox
						input.checkbox(type="checkbox")
						.label.aside-filter-group__checkbox-text
							| Panasonic 
				.aside-filter-group__more-wrap
					a.aside-filter-group__more(data-toggle="collapse" href="#filter-more-1")
						| Показать все

	.aside-filter-group
		.aside-filter-group__title.aside-filter-group__title_arrow(data-toggle="collapse", data-target="#aside-filter-3")
			| Место установки
		.aside-filter-group__body.collapsed.in#aside-filter-3
			.select_arrow
				select.select
					option
						| Уличная
					option
						| Уличная 2
					option
						| Уличная 3
				
	.aside-filter-group
		.aside-filter-group__title.aside-filter-group__title_arrow(data-toggle="collapse", data-target="#aside-filter-4")
			| Разрешение
		.aside-filter-group__body.collapsed.in#aside-filter-4
			.aside-filter-group__checkboxs
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| до 1 Мпикс
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 1 Мп (1280x720)  
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 1,3 Мп (1280x960)
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 2 Мп (1920x1080)
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 3 Мп
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 4 Мп
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 5 Мп и выше 
 
	.aside-filter-group
		.aside-filter-group__title.aside-filter-group__title_arrow(data-toggle="collapse", data-target="#aside-filter-5")
			| Тип корпуса
		.aside-filter-group__body.collapsed.in#aside-filter-5
			.aside-filter-group__checkboxs
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| до 1 Мпикс
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 1 Мп (1280x720)  
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 1,3 Мп (1280x960)

	.aside-filter-group
		.aside-filter-group__title.aside-filter-group__title_arrow(data-toggle="collapse", data-target="#aside-filter-6")
			| Фокусное расстояние
		.aside-filter-group__body.collapsed.in#aside-filter-6
			.aside-filter-group__checkboxs
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| до 1 Мпикс
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 1 Мп (1280x720)  
				label.aside-filter-group__checkbox
					input.checkbox(type="checkbox")
					.label.aside-filter-group__checkbox-text
						| 1,3 Мп (1280x960)
	footer.aside-filter__foo
		.aside-filter__result
			| Подобрано вариантов - 35
		button.btn.aside-filter__submit
			| Показать
		div
			a.aside-filter__clear(href="#")
				| Сбросить результаты

  
 
  

