.main-article
	h2.text__h2.text__h2_decorline.main-article__title
		| о КОМПАНИИ
	hr.main__hr
	article.main-article__content
		p.text__p
			| В интернет-магазине «Трэйдкамера» Вы можете купить камеры наблюдения или системы охраны, ведь это один из лучших способов снизить риск несанкционированного проникновения, краж, актов вандализма и других неприятных событий.
		p.text__p
			| Компания «Трэйдкамера» успешно работает в Великом Новгороде и обеспечивает качественное видеонаблюдение для частных и государственных организаций, предлагая по адекватным ценам современные камеры видеонаблюдения и другое функциональное и надежное оборудование.
		p.text__p
			| Мы также выполняем установку видеонаблюдения и его отдельных элементов, Вы не только можете видеонаблюдение купить у нас в Великом Новгороде, но и заказать установку и настройку купленного оборудования «под ключ».
		p.text__p
			| Мы являемся специалистами в области всех современных комплексных систем наблюдения за территориями частного, коммерческого и государственного статуса.
		p.text__p
			| Обратившись к нам, вы быстро и недорого решите проблему безопасности объекта!
		ul.text__ul
			li.text__li
				h5.text__h5
					| Интернет-магазин камер видеонаблюдения
				p.text__p
					| купить можно любую камеру из нашего ассортимента по самой выгодной в Великом Новгороде цене! Если Вы искали сайт, где можно купить видеонаблюдение с теми функциями, которые Вам необходимы, Вы пришли по адресу!
			li.text__li
				h5.text__h5
					| Подбор оборудования, проектирование систем.
				p.text__p
					| Мы консультируем по телефону и помогаем выбрать и купить камеры видеонаблюдения из ассортимента нашего интернет-магазина. Также наш специалист может выехать на объект в г.Великий Новгород и рассчитать рассчитывает степень сложности монтажа, минимальные требования к технике, количество элементов системы наблюдения и иные нюансы. С учетом особенностей проекта мы предложим лучшие варианты устройств видеонаблюдения или готовых систем видеонаблюдения, а также сообщим итоговую стоимость.
			li.text__li
				h5.text__h5
					| Установка и подключение.
				p.text__p
					| Наша бригада занимается монтажом серверов, видеонаблюдения любой сложности, IP и аналоговых камер, прокладкой кабелей и соединением по беспроводной связи, выполняя работу в точно отведенный срок с соблюдением технических требований и правил безопасности.
			li.text__li
				h5.text__h5
					| Пусконаладочные работы.
				p.text__p
					| Мы проводим тестирование установленного оборудования, проверяем исправность отдельных устройств и работоспособность всей системы в целом, можем дать рекомендации по обслуживанию и провести инструктаж для сотрудников.
			li.text__li
				h5.text__h5
					| Продажа самих устройств и комплектующих.
				p.text__p
					| Наиболее часто видеонаблюдение в г.Великом Новгороде заказывают крупные и средние предприятия, где важно установить контроль как над внутренними помещениями, так и прилежащей территорией, и у нас в ассортименте есть как приспособления для наружного наблюдения, так и монтажа в помещении. Также вы можете изучить каталог готовых решений и заказать подходящий вариант из их числа.