.aside__item: .aside-price-list
	h4.aside__title.aside-price-list__title Скачать прайс-лист
	.aside-price-list__update Обновлено: 24.02.2017
	.aside-price-list__container
		a.aside-price-list__item(href="#pdf")
			+svg-icon(34, 43, "images/sprite/files.svg#svg-files-pdf")
		a.aside-price-list__item(href="#doc")
			+svg-icon(35, 43, "images/sprite/files.svg#svg-files-doc")
		a.aside-price-list__item(href="#xls")
			+svg-icon(34, 43, "images/sprite/files.svg#svg-files-xsl")
