@import "../libs/bootstrap-stylus/bootstrap/variables";
@import "bootstrap/variables";

$screen-md-min = 1012px
$screen-lg-min = 1220px
$screen-md = 1012px
$screen-lg = 1220px

$theme-blue = #14479b

.theme--blue
	display inline
.theme--red
	display none

@import "blocks/top/top_blue"
@import "blocks/top-switcher/top-switcher_blue"
@import "blocks/header/header_blue"
@import "blocks/header-logo/header-logo_blue"
@import "blocks/nav/nav_blue"
@import "blocks/aside-menu/aside-menu_blue"
@import "blocks/aside-catalog/aside-catalog_blue"
@import "blocks/aside-catalog-item/aside-catalog-item_blue"
@import "blocks/btn/btn_blue"
@import "blocks/social/social_blue"
@import "blocks/main-slider/main-slider_blue"
@import "blocks/main-tabs/main-tabs_blue"
@import "blocks/text/text_blue"
@import "blocks/in-year/in-year_blue"
@import "blocks/news-item/news-item_blue"
@import "blocks/link-refresh/link-refresh_blue"
@import "blocks/pagination/pagination_blue"
@import "blocks/range/range_blue"
@import "blocks/aside-filter-group/aside-filter-group_blue"
@import "blocks/main-msg/main-msg_blue"
