@import "inc/fonts";
@import "spritesmith/sprite";
@import "../libs/bootstrap-stylus/bootstrap/variables";
@import "bootstrap/variables";
@import "inc/variables";
@import "bootstrap/mixins";
@import "inc/reset";

$theme-red = #ff5a44;

$screen-md-min = 1012px
$screen-lg-min = 1220px
$screen-md = 1012px
$screen-lg = 1220px

.theme--blue
	display none
.theme--red
	display inline

a:focus,
.btn:focus
	outline none !important

@import "blocks/layout/layout";

@import "blocks/top/top";
@import "blocks/top-contacts/top-contacts";
@import "blocks/top-switcher/top-switcher";
@import "blocks/top-bar/top-bar"
@import "blocks/top-nav/top-nav"
@import "blocks/top-budge/top-budge"

@import "blocks/header/header"
@import "blocks/header-logo/header-logo"
@import "blocks/header-search/header-search"
@import "blocks/header-contacts/header-contacts"

@import "blocks/nav/nav"

@import "blocks/main/main"

@import "blocks/aside/aside"
@import "blocks/aside-menu/aside-menu"
@import "blocks/aside-price-list/aside-price-list"
@import "blocks/aside-catalog/aside-catalog"
@import "blocks/aside-catalog-item/aside-catalog-item"

@import "blocks/btn/btn"
@import "blocks/burger/burger"

@import "blocks/main-slider/main-slider"
@import "blocks/main-tabs/main-tabs"
@import "blocks/main-catalog/main-catalog"
@import "blocks/main-catalog-item/main-catalog-item"

@import "blocks/main-catalog-item-overlay/main-catalog-item-overlay"

@import "blocks/main-article/main-article"

@import "blocks/rating/rating"
@import "blocks/count/count"
@import "blocks/link-refresh/link-refresh"
@import "blocks/text/text"

@import "blocks/in-year/in-year"

@import "blocks/news/news"
@import "blocks/news-item/news-item"

@import "blocks/social/social"
@import "blocks/nav-bottom/nav-bottom"
@import "blocks/nav-list/nav-list"
@import "blocks/bottom-contacts/bottom-contacts"
@import "blocks/foo/foo"

@import "blocks/breadcrumb/breadcrumb"

@import "blocks/heading/heading"

@import "blocks/main-cart/main-cart"
@import "blocks/cart-step/cart-step"
@import "blocks/main-cart-item/main-cart-item"
@import "blocks/main-cart-catalog/main-cart-catalog"
@import "blocks/range/range"
@import "blocks/aside-filter/aside-filter"
@import "blocks/aside-filter-group/aside-filter-group"
@import "blocks/checkbox/checkbox"
@import "blocks/select/select"
@import "blocks/main-msg/main-msg"
@import "blocks/sort/sort"
@import "blocks/catalog-item-refresh/catalog-item-refresh"
@import "blocks/pagination/pagination"

@import "blocks/item/item"
@import "blocks/item-header/item-header"
@import "blocks/item-chars/item-chars"
@import "blocks/item-gallery/item-gallery"
@import "blocks/item-rec/item-rec"
@import "blocks/item-info-tabs/item-info-tabs"
@import "blocks/item-info/item-info"
@import "blocks/item-info-video/item-info-video"
@import "blocks/like/like"
@import "blocks/popup/popup"
