footer.foo: .container: .row: .col-xs-8: .foo__container
	.foo__column.foo__column_info
		| 2017 ТРЭЙДКАМЕРА — интернет-магазин систем видеонаблюдения и звукового вещания
		| Телефоны: 
		a(href="tel:8 (8162) 55-95-10")
			| 8 (8162) 55-95-10
		|  и 
		a(href="tel:+7 (951) 720-5225")
			| +7 (951) 720-5225
	.foo__column.foo__column_site-map
		a.foo__site-map(href="#site-map")
			| Карта сайта
