.aside-filter
	border: 1px solid #d1d1d1;
	
	&__foo
		padding 10px 
		text-align center
		
	&__result
		margin-bottom 10px
		color: #171717;
		font-family: "Gotham Pro";
		font-size: 14px;
		font-weight: 400;
		
	&__submit
		display inline-block
		margin-bottom 10px
		padding 10px 35px
		
	&__clear
		color $theme-red
		font-family "Gotham Pro"
		font-size 13px
		font-weight 400
		text-decoration underline
		
		&:hover,
		&:active,
		&:focus
			color $theme-red
			text-decoration none