.breacrumb: .container: .row: .col-xs-8: ul.breadcrumb__list
	li.breadcrumb__item: a.breadcrumb__link(href="#")
		| Главная
	li.breadcrumb__separator
		+svg-icon(8, 5, "images/sprite/interface.svg#svg-breadcrumb-separator")
	li.breadcrumb__item: a.breadcrumb__link(href="#")
		| AHD системы видеонаблюдения
