.main-catalog-item
	position relative
	border 3px solid #d6d6d6
	text-align center
	min-height 455px
	
	&__header
		display flex
		align-items center
		justify-content space-between
		height 55px
		padding-right 12px
		
	&__tag
		width 96px
		height 30px
		padding 9px 
		color white
		font-family Intro
		font-size 12px
		font-weight 700
		text-transform uppercase
		
		&_new
			background-color #6aa8d0
		
		&_discount
			background-color #82bd35
		
	&__body
		font-family "Gotham Pro"
		font-weight 400
		text-align center
		padding 3px 20px 14px
		border-bottom 1px solid #ededed
		
	&__title
		color #171717
		font-size 16px
		line-height 16px
		text-transform uppercase
		
	&__desc
		color #878787
		font-size 14px
		line-height 1.2
		
	&__pr
		padding-top 10px
	
	&__rating
		margin-bottom 1px
	
	&__chars
		padding 10px 0 0 
		color #171717
		font-family "Gotham Pro"
		font-size 12px
		font-weight 400
		line-height 22px 
		
	&__foo
		display flex
		justify-content space-around
		align-items center
		padding 11px 0 10px
		padding-left 10px
		padding-right 10px
		
	&__price
		color #171717
		font-family Intro
		font-size 24px
		font-weight 700
	
	&__separator
		display block
		width 1px
		height 20px
		background-color #dedede