.layout
	background url(../images/pattern.jpg)
	
	&_-dev {
		&_main {
			background url(../pixelglass/main.jpg) center top / auto
		}
		
		&_item {
			background url(../pixelglass/item.jpg) center top / auto
		}
		
		&_cat {
			background url(../pixelglass/cat.jpg) center top / auto	
		}
		
		&_cart {
			background url(../pixelglass/cart.jpg) center top / auto
		}
	}

	&__container
		width 1200px
		max-width 100%
		margin auto
		background #FFF 