.nav-bottom
	&__container
		
		background #eeeeee
		padding 40px 15px 32px 
		columns 3 200px
		column-gap 30px
		
		@media (min-width $screen-md)
			font-size 0
			padding 40px 0 32px
			columns initial
	&__list
		
		
		
		li 
			break-inside: avoid;

		@media (min-width $screen-md)
			display inline-block
			vertical-align top
			width 25%
			padding 0 25px 
			font-size 14px
			