@import "variables";

@font-face 
    font-family: Intro;
    src: url('../fonts/Intro/Regular/intro-regular.eot');
    src: url('../fonts/Intro/Regular/intro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro/Regular/intro-regular.woff2') format('woff2'),
         url('../fonts/Intro/Regular/intro-regular.woff') format('woff'),
         url('../fonts/Intro/Regular/intro-regular.ttf') format('truetype'),
         url('../fonts/Intro/Regular/intro-regular.svg#introregular') format('svg');
    font-weight: 400;
    font-style: normal;


// @font-face 
//     font-family: Intro;
//     src: url('../fonts/Intro/SemiBold/fontfabric_-_introsemibold.eot');
//     src: url('../fonts/Intro/SemiBold/fontfabric_-_introsemibold.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Intro/SemiBold/fontfabric_-_introsemibold.woff2') format('woff2'),
//          url('../fonts/Intro/SemiBold/fontfabric_-_introsemibold.woff') format('woff'),
//          url('../fonts/Intro/SemiBold/fontfabric_-_introsemibold.ttf') format('truetype'),
//          url('../fonts/Intro/SemiBold/fontfabric_-_introsemibold.svg#introsemibold') format('svg');
//     font-weight: 600;
//     font-style: normal;


@font-face 
    font-family: Intro;
    src: url('../fonts/Intro/Bold/intro-bold.eot');
    src: url('../fonts/Intro/Bold/intro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro/Bold/intro-bold.woff2') format('woff2'),
         url('../fonts/Intro/Bold/intro-bold.woff') format('woff'),
         url('../fonts/Intro/Bold/intro-bold.ttf') format('truetype'),
         url('../fonts/Intro/Bold/intro-bold.svg#introbold') format('svg');
    font-weight: 700;
    font-style: normal;

@font-face 
    font-family: "Gotham Pro";
    src: url('../fonts/GothamPro/Regular/GothamProRegular.eot');
    src: url('../fonts/GothamPro/Regular/GothamProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/Regular/GothamProRegular.woff') format('woff'),
         url('../fonts/GothamPro/Regular/GothamProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    

@font-face 
    font-family: "Gotham Pro";
    src: url('../fonts/GothamPro/Bold/GothamProBold.eot');
    src: url('../fonts/GothamPro/Bold/GothamProBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/Bold/GothamProBold.woff') format('woff'),
         url('../fonts/GothamPro/Bold/GothamProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

@font-face 
    font-family: "Gotham Pro";
    src: url('../fonts/GothamPro/Black/GothamProBlack.eot');
    src: url('../fonts/GothamPro/Black/GothamProBlack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro/Black/GothamProBlack.woff') format('woff'),
         url('../fonts/GothamPro/Black/GothamProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;