.top-contacts
	display block
	padding 0
	margin 0
	list-style-type none
	font-family Intro
	font-weight 400
	text-align center
	text-transform uppercase
	letter-spacing +0.035em
	color #FFF
	
	@media (min-width $screen-sm-min)
		text-align left
	@media (min-width $screen-md-min)
		text-align center
	
	&__item
		display inline-block
		
		@media (min-width $screen-md-min)
			display inline-block
		
		&:after
			@media (min-width $screen-lg-min)
				content "|"
				margin 0 17px
		
		&:last-child:after
			display none
		
		&_email
			font-size 16px 
			margin-right 10px
			
			@media (min-width $screen-sm-min)
				font-size 12px
		
		&_phone
			font-size 20px
			letter-spacing +0.035em
			
			@media (min-width $screen-sm-min)
				font-size 16px