.header-contacts
	padding-bottom 12px 
	text-align center
	font-family Intro
	
	&__address
		margin-bottom 2px 
		color #171717
		font-size 12px
		font-weight 400
		line-height 26px
		line-height 17px
	
	&__phone
		color $theme-red
		font-size 24px
		font-weight 700