.count
	position relative
	
	&__field
		width 100%
		height 40px
		padding 10px 30px 
		border 1px solid #dedede
		text-align center
		appearance: textfield
		
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button,

			display none
			apperance none
		
			display none
			apperance none
			
	&__btn
		position absolute
		display block
		vertical-align top
		top 50%
		width 30px 
		height 30px
		padding 5px
		margin-top -15px
		background none
		border none
				
		&_plus
			right 0
		
		&_minus
			left 0
