link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/css/ion.rangeSlider.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/css/ion.rangeSlider.skinHTML5.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
link(rel="stylesheet", href="libs/fancybox/dist/jquery.fancybox.min.css")
link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
link(rel="stylesheet", href="css/style.css?v=2")

//- link(rel="stylesheet", href="node_modules/pixel-glass/styles.css")
//- script(src="../node_modules/pixel-glass/script.js")