script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.6/js/ion.rangeSlider.min.js")
script(src="libs/jquery.form-styler/jquery.formstyler.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.4/svg4everybody.min.js")
//- Fancybox 3, смотрел на cdnjs.com там только fancybox 2 и ниже
script(src="libs/fancybox/dist/jquery.fancybox.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")
	//- bootsrap
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
script(src="js/main.js?v=2")