.top-bar
	display flex
	justify-content space-between
	align-items center
	// width 300px
	
	&__item
		
		&_budges
			display flex
			justify-content flex-end
			align-items center
			
	&__budge {
		margin-right 25px
		
		&:last-child {
			margin-right 0
		}
	}