.main-msg
	position relative
	padding 25px 12px 
	margin-bottom 20px
	border 1px solid #d1d1d1
	border-left 5px solid $theme-red
	color #505050
	font-family "Gotham Pro"
	font-size 14px
	font-weight 400
	line-height 26px
	
	&__btn
		margin-bottom 30px
	
	&__close
		position absolute
		top 10px
		right 10px
		z-index  5
		display block
		width 20px
		height 20px
		padding 0
		padding-bottom 2px
		line-height 8px
		text-align center
		border none 
		border-radius 50%
		background $theme-red
		
		&:hover,
		&:active,
		&:focus
			opacity: 0.9