.breadcrumb
	&__list
		padding 25px 30px 18px
		margin 0
		list-style-type none
		background-color #f8f6f6
		color: #828282;
		font-family: Intro;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
	
	&__item
		display inline
	
	&__separator
		display inline-block
		position relative
		top -3px
		margin 0 20px 