.aside__item: .aside-menu
	button.aside-menu__button(data-toggle="collapse", data-target="#aside-menu")
		span.aside-menu__burger
			span.burger
				span.burger__line
				span.burger__line
				span.burger__line
		| Каталог
	ul.aside-menu__container.collapse#aside-menu
		each menuItem in ['ГОТОВЫЕ КОМПЛЕКТЫ ДЛЯ ВИДЕОНАБЛЮДЕНИЯ', 'AHD-СИСТЕМЫ ВИДЕОНАБЛЮДЕНИЯ', 'IP-СИСТЕМЫ ВИДЕОНАБЛЮДЕНИЯ СТАНДАРТ-СЕГМЕНТА', 'IP-СИСТЕМЫ ВИДЕОНАБЛЮДЕНИЯ ЭКОНОМ-СЕГМЕНТА', 'АНАЛОГОВЫЕ СИСТЕМЫ ВИДЕОНАБЛЮДЕНИЯ', 'СИСТЕМЫ ПОЖАРНОГО ОПОВЕЩЕНИЯ И МУЗЫКАЛЬНОЙ ТРАНСЛЯЦИИ', 'СИСТЕМЫ ПОДСЧЁТА ПОСЕТИТЕЛЕЙ', 'ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ', 'уСЛУГИ']
			li.aside-menu__item: a.aside-menu__link(href="#")
				| #{menuItem}