.aside-catalog-item
	font-family "Gotham Pro"
	font-weight 400
	text-align center
	padding 20px 0 0
	
	&:after
		content ""
		display block
		height 1px
		background-color #ff5a44
		margin 10px 25px
	
	&__title		
		color #171717
		font-size 16px
		line-height 16px
		text-transform uppercase
	
	&__desc
		color #878787
		font-size 14px
		line-height 1.2
		
	&__pr
		padding-top 10px
	
	&__body
		padding 0 20px 14px
		border-bottom 1px solid #ededed
	
	&__foo
		display flex
		justify-content space-around
		align-items center
		padding 11px 0 0
		padding-left 10px
		padding-right 10px
		
		
	&__price
		color #171717
		font-family Intro
		font-size 24px
		font-weight 700
	
	&__separator
		display block
		width 1px
		height 20px
		background-color #dedede
		// margin-left 5px
		// margin-right 3px
	&__divider
		margin 10px 24px 5px
		border-bottom 1px solid $theme-red 
	

		