.cart-step
	line-height 30px
	
	&__number
		display inline-block
		width 33px
		height 33px
		margin-right 10px
		border-radius 50%
		border 3px solid #bababa
		background-color #fff
		color: #828282;
		font-family: Intro;
		font-size: 12px;
		text-transform: uppercase;
		text-align center
		
		&_active
			border-color $theme-red
			background $theme-red 
			color white
		
	&__text
		color: #171717;
		font-family: "Gotham Pro";
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		
		&_active
			color $theme-red 