.icon
	display inline-block
	background-image url(../images/sprite.png)
	vertical-align middle
.icon-svg
	display inline-block
	vertical-align middle

// .icon_breadcrumb-separator
// 	background-position -155px -98px
// 	width 8px
// 	height 5px
// .icon_busket
// 	background-position -28px -97px
// 	width 21px
// 	height 18px
// .icon_cart-remove
// 	background-position -155px -43px
// 	width 11px
// 	height 10px
// .icon_catalog-refresh-item
// 	background-position 0px 0px
// 	width 86px
// 	height 86px
// .icon_contacts-phone
// 	background-position -155px -19px
// 	width 13px
// 	height 13px
// .icon_count-minus
// 	background-position -155px -103px
// 	width 10px
// 	height 2px
// .icon_count-plus
// 	background-position -155px -68px
// 	width 10px
// 	height 10px
// .icon_facebook
// 	background-position -155px -53px
// 	width 7px
// 	height 15px
// .icon_field-search
// 	background-position -64px -125px
// 	width 16px
// 	height 16px
// .icon_file-doc
// 	background-position -86px 0px
// 	width 35px
// 	height 43px
// .icon_file-pdf
// 	background-position -86px -43px
// 	width 34px
// 	height 43px
// .icon_file-xls
// 	background-position -121px 0px
// 	width 34px
// 	height 43px
// .icon_heart-gray
// 	background-position -85px -97px
// 	width 18px
// 	height 15px
// .icon_heart-link
// 	background-position -49px -97px
// 	width 19px
// 	height 17px
// .icon_heart-red
// 	background-position -68px -97px
// 	width 17px
// 	height 16px
// .icon_heart
// 	background-position -48px -125px
// 	width 16px
// 	height 16px
// .icon_item-reviews
// 	background-position 0px -125px
// 	width 16px
// 	height 17px
// .icon_msg-close
// 	background-position -155px -78px
// 	width 9px
// 	height 9px
// .icon_odnoklassniki
// 	background-position -155px 0px
// 	width 13px
// 	height 19px
// .icon_order-submit-arr
// 	background-position -155px -32px
// 	width 11px
// 	height 11px
// .icon_page-next
// 	background-position -155px -87px
// 	width 6px
// 	height 11px
// .icon_page-prev
// 	background-position -162px -53px
// 	width 6px
// 	height 11px
// .icon_prs-next-disable
// 	background-position -121px -43px
// 	width 15px
// 	height 28px
// .icon_prs-next
// 	background-position -14px -97px
// 	width 14px
// 	height 28px
// .icon_prs-prev-disable
// 	background-position -136px -43px
// 	width 15px
// 	height 28px
// .icon_prs-prev
// 	background-position 0px -97px
// 	width 14px
// 	height 28px
// .icon_refresh-red
// 	background-position -16px -125px
// 	width 16px
// 	height 16px
// .icon_refresh-theme-blue
// 	background-position -32px -125px
// 	width 16px
// 	height 16px
// .icon_refresh-theme-red
// 	background-position -80px -125px
// 	width 16px
// 	height 16px
// .icon_step-card-separator
// 	background-position 0px -86px
// 	width 72px
// 	height 11px
// .icon_twitter
// 	background-position -72px -86px
// 	width 18px
// 	height 11px
// .icon_vkontakte
// 	background-position -121px -71px
// 	width 21px
// 	height 13px
