.sort
	.sort__column.sort__column_align_left
		.sort__text
			| Сортировать:
		.sort__criteria
			| По цене
		.sort__criteria.sort__criteria_active.sort__criteria_order_desc
			| По популярности
		.sort__criteria
			| По рейтингу
	.sort__column.sort__column_align_right
		select.sort__count-view
			option
				| Показывать: 24
				i-select-arrow
			option
				| Показывать: 36