.link-refresh
	text-align center
	text-decoration none
	line-height 26px
	color #494949
	
	&:hover,
	&:focus,
	&:active
		text-decoration none
		color $theme-red 
		
	&__icon
		margin-right 20px
	
	&__text
		font-family Intro
		font-size 12px
		font-weight 700
		letter-spacing 0.09em 
		text-transform uppercase