.item-info
	
	&__content
		padding 15px 0 10px
		
		@media (min-width $screen-md)
			padding 27px 10px 10px 20px
	&__title
		margin 45px  0 10px
		font-size 24px
		font-family: "Gotham Pro";
		
	&__p
		margin-bottom 9px
	
	&__video
		position relative
		padding-bottom 55%
		margin-top 28px
		margin-left 5px
		margin-right 10px
		
		&-inner
			position absolute
			top 0
			left 0
			right 0
			bottom 0