ul.main-tabs.clearfix
	li.main-tabs__item.main-tabs__item_active: a.main-tabs__link(href="#tabcontent1")
		| нОВИНКИ КАТАЛОГА
	li.main-tabs__item: a.main-tabs__link(href="#tabcontent2")
		| Акции
	li.main-tabs__item: a.main-tabs__link(href="#tabcontent3")
		| распродажа
