mixin news-item(n, title, desc, datetitle, dateformat)
	figure.news-item
		.news-item__pr
			a(href="#news-" + n)
				img.img-responsive(src="images/news-item-" + n + ".jpg", alt="Цены на камеры видеонаблюдения в Великом Новгороде", width="270", height="200")
				time.news-item__date(datetime=dateformat) #{datetitle}
		figcaption
			.news-item__title: a(href="#news-" + n) #{title}
			.news-item__desc #{desc}

.news: .container
	.row
		.news__container
			.col-xs-8
				+news-item(1, "Цены на камеры видеонаблюдения в Великом Новгороде", "Наиболее часто видеонаблюдение в г.Великом Новгороде заказывают крупные и средние предприятия, где важно установить контроль как над внутренними помещениями, так и прилежащей территорией", "24.06.2016", "24-06-2016")
			.col-xs-8
				+news-item(2, "Почему купить видеонаблюдение нужно у нас?", "Если вам нужно поставить камеры видеонаблюдения на объекте, провести комплексный монтаж оборудования или отладить работу системы наблюдения, закажите эти услуги в фирме «Трэйдкамера»!", "15.06.2016", "15-06-2016")
		
			.col-xs-8
				+news-item(3, "Приветствуем Вас в нашем интернет-магазине «Трэйдкамера»!", "В интернет-магазине «Трэйдкамера» Вы можете купить камеры наблюдения или системы охраны, ведь это один из лучших способов снизить риск несанкционированного проникновения, краж, актов вандализма и других неприятных событий.", "09.04.2016", "09-04-2016")

			.col-xs-8
				+news-item(4, "Обратившись к нам, вы быстро и недорого решите проблему безопасности объекта!", "Мы являемся специалистами в области всех современных комплексных систем наблюдения за территориями частного, коммерческого и государственного статуса.", "11.03.2016", "11-03-2016")
	.row: .col-xs-8
		.news__refresh: a.link-refresh(href="#")
			span.link-refresh__icon
				.theme--red: +svg-icon(16, 16, "images/sprite/interface.svg#svg-refresh-theme-red")
				.theme--blue: +svg-icon(16, 16, "images/sprite/interface.svg#svg-refresh-theme-blue")
			span.link-refresh__text Архив новостей
