.range::-webkit-slider-thumb,
.range::-moz-range-thumb,
.range::-ms-thumb {
  width: 17px;
  height: 17px;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,1,0.26);
  box-shadow: 0 2px 5px rgba(0,0,1,0.26);
  background-color: #fff;
}
