.item-info-video
	&__title
		margin-bottom 25px
		padding-left 5px
	&__slide
		padding 0 5px 
		
	&__video
		position relative
		padding-bottom 75%
		
		&-inner
			position absolute
			top 0
			left 0
			right 0
			bottom 0
		
		&-title
			color: #171717;
			font-family: "Gotham Pro";
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;