.main-msg-1.collapse
	button.aside-menu__button.main-msg__btn(data-toggle="collapse", data-target=".main-msg-1")
		span.aside-menu__burger
			span.burger
				span.burger__line
				span.burger__line
				span.burger__line
.in.collapse.main-msg-1: .main-msg
	button.main-msg__close(data-toggle="collapse", data-target=".main-msg-1")
		+svg-icon(9, 9, "images/sprite/interface.svg#svg-msg-close")
	| AHD (Analog High Definition) — новейшая технология в системах видеонаблюдения, возможности которой значительно превышают возможности аналогового видеонаблюдения. Технология AHD позволяет передавать по коаксиальному кабелю видео, аудио, сигналы управления, причем видео — с разрешением 720p и 1080p. При этом, дальность передачи не ограничивается 100 метрами и качеством кабеля, как в случае с системами HD-SDI. По качеству картинки AHD видео может успешно конкурировать с IP системами, но при этом цена на оборудование AHD сопоставима со стоимостью аналоговых видеокамер и видеорегистраторов.
