.social: .container: .row: .col-xs-8: ul.social__container
	li.social__item: a.social__link(href="#vk")
		span.social__icon: +svg-icon(21, 13, "images/sprite/social.svg#svg-social-vk")
		span.social__text vkontakte
	li.social__item: a.social__link(href="#fb")
		span.social__icon: +svg-icon(7, 15, "images/sprite/social.svg#svg-social-fb")
		span.social__text facebook
	li.social__item: a.social__link(href="#tw")
		span.social__icon: +svg-icon(18, 11, "images/sprite/social.svg#svg-social-tw")
		span.social__text twitter
	li.social__item: a.social__link(href="#ok")
		span.social__icon: +svg-icon(13, 19, "images/sprite/social.svg#svg-social-ok")
		span.social__text odnoklassniki
