.main-slider
	.main-slider__item(style="background-image: url(images/main-slider.jpg)")
		.main-slider__text
			| устанавливаем
			.main-slider__big
				| видеонаюлюдение 
				br
				| под ключ
	.main-slider__item(style="background-image: url(images/main-slider.jpg)")
		.main-slider__text
			| устанавливаем
			.main-slider__big
				| видеонаюлюдение 
				br
				| под ключ
	.main-slider__item(style="background-image: url(images/main-slider.jpg)")
		.main-slider__text
			| устанавливаем
			.main-slider__big
				| видеонаюлюдение 
				br
				| под ключ
