.aside-price-list
	padding 15px 10px 0
	border 1px solid #d6d6d6
	background white
	font-family Intro
	text-align center
	
	&__update
		color #878787
		font-size 14px
		font-weight 400
		line-height 18px
		
	&__container
		display flex
		align-items center
		justify-content center
		margin 14px 0 
		
	&__item
		display block
		margin 0 15px
		
		&:hover,
		&:focus,
		&:active
			filter grayscale(100%)