.main-catalog
	overflow-x hidden
	
	&_cat
		margin-bottom 47px
	
	&__inner
		margin 0 -15px
		font-size 0
	
	&__item
		padding 0 15px
		font-size 14px
		margin-bottom 26px
		vertical-align top
		
		@media (min-width $screen-md)
			display inline-block
			width 50%
		
		@media (min-width $screen-lg)
			width 33.33333%

	&__refresh
		padding 10px 
		text-align center