.checkbox
	display inline-block
	width 19px
	height 19px
	border 1px solid #d1d1d1
	cursor pointer
	vertical-align middle
	margin-top 0
	margin-bottom 0
	position relative
	top -2px
	
	&.checked
		background url(../images/checked.png) center center no-repeat