.catalog-item-refresh
	display flex
	flex-direction column
	justify-content space-between
	height 455px
	
	&__pr
		padding 75px 20px 20px
		
	&__link
		display inline-block
		max-width 150px
		margin-top 40px
		color $theme-red
		font-family Intro
		font-size 18px
		font-weight 400
		text-decoration underline
	
	&__foo
		padding 20px 10px 15px
		border-top 1px solid #ededed
		
		&-text
			margin-bottom 15px
			color #171717
			font-family Intro
			font-size 14px
			font-weight 400
		
	&__btn
		padding-left 5px 
		padding-right 5px
		color #fff
		font-family Intro
		font-size 12px
		font-weight 700
		text-transform uppercase
		max-width 100%