.in-year
	margin-bottom 37px
	
	.in-year__container
		border-top 6px solid $theme-red 
		font-family Intro
		font-weight 400
		text-align center
	
	&__title
		margin 30px 0 20px
		color #282828
		font-size 18px
	
	&__list
		display flex
		justify-content center
		padding 0
		margin 0
		list-style-type none
	
	&__item
		position relative
		display inline-block
		margin 0 25px
		color #626262
		font-size 16px
		
		&_active,
		&:hover,
		&:focus,
		&:active
			text-decoration none
			color $theme-red
		
		&:after
			position absolute
			top 50%
			right -25px
			content "/"
			display inline-block
			margin-top -6px
			color #cecece
			font-size 12px
			line-height 1 
			
		&:last-child:after
			display none
		
	&__link
		&:hover,
		&:focus,
		&:active
			text-decoration none
			