.bottom-contacts
	&__phone
		text-decoration none
		
		&:hover,
		&:focus,
		&:active
			text-decoration none
			color $theme-red
	
	&__icon
		position relative
		top -2px
		margin-right 20px

	&__email
		color $theme-red
		
		&:hover,
		&:focus,
		&:active
			color $theme-red