.btn	
	display inline-block
	height 38px
	padding 10px 17px
	background $theme-red
	color #ffffff
	font-family Intro
	font-size 12px
	font-weight 700
	line-height 18px
	letter-spacing 0.075em 
	text-align center
	text-transform uppercase 
	border-bottom 3px solid #bb311f
	
	&:hover,
	&:focus,
	&:active 
		background lighten($theme-red, 10%)
		color white
	
	&_order-submit
		width 250px
		height: 40px;
		border none
		border-radius 0
		font-family: "Gotham Pro";
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;